<!DOCTYPE html>
<html>
{% load static %}
<head>
	<title>Dashboard</title>
	        <link href="{%static 'css/dash.css'%}" rel="stylesheet" />
</head>
<body>



<div class="box">
	<form action=""  method="POST" >
	{% csrf_token %}
	{{ form.stock_tick }}
	<BUTTON  
	style="float: right; 
	margin-right: -280px;
	margin-top: 20px;
	height: 40px;
    width: 70px;
    background: #068310;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border:none;
    box-shadow: 0px 8px 24px 1px #00000080;" type="Submit">Go</BUTTON>
</form>
		<div class="pred" style="height: 550px;">
			<canvas id="pred" width="600" height="210"></canvas>

		</div>

		<div class="sens">
			<canvas id="sens" width="400" height="290"></canvas>
		</div>
		<div class="nift">
			<canvas id="nifty" width="400" height="290"></canvas>
		</div>	
		<br>
					
	</div>
	
</body>


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
var a = document.getElementById('pred').getContext('2d');
var pred = new Chart(a, {
    type: 'line',
    data: {
        labels: {{ label2|safe }},
        datasets: [{
            label: 'Past 100 Days Data',
            data: {{ stdata|safe }},
            backgroundColor: ['rgba(153, 102, 255, 0.2)'],
            
        },{
            label: '30 days Predicted Data',
            data: {{ prediction|safe }},
            backgroundColor: ['rgba(75, 192, 192, 0.2)'],
            
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>

<script>
const ctx = document.getElementById('sens').getContext('2d');
const sens = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ label1|safe }},
        datasets: [{
            label: 'Sensex 100 days Data',
            data: {{ sensex|safe }},
            backgroundColor: ['rgba(75, 192, 192, 0.2)'],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>

<script>
var m = document.getElementById('nifty').getContext('2d');
var nifty = new Chart(m, {
    type: 'line',
    data: {
        labels: {{ label1|safe }},
        datasets: [{
            label: 'Nifty 100 days Data',
            data: {{ nifty|safe }},
            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
            
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: false
                }
            }]
        }
    }
});
</script>

</html>
